### Задание 1

Выберите речевой акт, например, просьбу. Вы можете выбрать любой речевой акт. В этом задании упор делается на лингвистическую интуицию: поиск релевантных примеров и на их анализ. Вы можете придумать примеры сами, взять их из корпуса или из любого другого источника.

Для выбранного речевого акта предложите:

1. условия успешности -- 0,5 балла
2. иллокутивный акт -- 0,5 балла
3. перлокутивный акт -- 0,5 балла
4. языковые средства реализации (4-5, интонационные, наклонение, частицы, тип предложения по цели высказывания) с примерами -- 1 балл
5. могут ли предложенные языковые средства маркировать другие речевые акты? какие? может ли это послужить причиной коммуникативной неудачи? -- 0,5 балла
6. есть ли косвенные способы реализации выбранного речевого акта? может ли это послужить причиной коммуникативной неудачи? -- 0,5 балла
7. есть ли дискурсивные формулы, ассоциированные с выбранным речевым актом? При ответе на этот вопрос можно использовать Прагматикон. Если дискурсивных форм, соответствующих выбранному Вами речевому акту, нет, отметьте это, баллы за этот пункт будут добавлены к оценке пункта про языковые средства реализации -- 0,5 балла

Речевой акт - просьба.
1. Условием успешности будет то, что говорящему удовлетворят в просьбе.
2. Иллокутивный акт выражается в том, что говорящий желает чего-то, что ему нужно.
3. Перлокутивный акт выражается в том, что слушающий сделает то, что хочет говорящий, удовлетворит его просьбу.
4. Далее я приведу примеры высказывания:

    (a) Налей, пожалуйста, мне чаю.
    
    (b) Прошу найти мне самый дешёвый автомобиль.
    
    (c) Я хотел бы попросить тебя остаться на минутку.
    
    (d) Я хочу, чтобы ты купил мне те вафли.
    
    (e) Не мог бы ты мне достать вон ту книгу?
    
    (f) Зайдёшь за конфетами в магазин?
    
    На мой взгляд, в акте просьбы превалирует императив (a), но в то же время могут быть случаи, когда используется индикатив (b) или субъюнктив (c). Интонация скорее всего будет выражаться в объекте просьбы, т.е. ударение будет падать на то, чего желает говорящий ((a), ударение на "чаю"). Но могут быть ситуации и такие, что ударение может падать на глагол ((c), глагол "остаться"), на какое-то прилагательное ((b), прилагательное "самый" или "дешёвый") или местоимение ((d), местоимение "те"). Во всех случаях будет подчёркиваться важность того, на что падает ударение. В качестве частиц в предложении могут быть такие слова как "пожалуйста" (a), "бы" (c), "чтобы" (d). Тип предложения скорее всего чаще является побудительным (a, b, c, d), меньше вопросительным (e, f). Вопросительный тип может подчёркивать вежливость просьбы в связке с частицей "бы". Восклицательный тип скорее маркирует речевой акт приказа. Ещё бы хотелось отметить, что возможно такая частица "вон" (e) будет указывать на то, что говорящий использует жесты для того, чтобы получить какой-то результат.

5. Примеры высказывания других речевых актов:

    (g) Я хотел бы тебя убить.
    
    (h) Чтобы завтра машина была уже на месте!
    
    (i) Чтобы я опоздал на работу?
    
    Связка субъюнктива и "бы" вполне может использоваться для выражения угрозы (g). Частица "чтобы" и восклицание могут выражать приказ, причём этот приказ будет выражен, как мне кажется, в довольно грубой форме (h). На просьбу (f), которая выражается через вопрос, можно ответить актом-вопросом (соответственно и тип предложения будет вопросительным) вместе с частицей "чтобы" (i). Тогда изначальный вопрос потерпит коммуникативную неудачу.
    
6. Да, можно перевести предложение в вопросительное, например, "не могли бы вы мне налить чаю?", добавив при этом ещё и частицу "бы". В этом случае может случиться коммуникативная неудача, если слушающий ответит просто "да" без каких-либо дальнейших действий.
7. Для выбранного речевого акта можно в качестве примера привести следующие дискурсивные формулы в случае отказа:

    * А смысл
    * Вот ещё
    * Ишь чего захотел
    * Нет уж
    * Ни за что
    
    В случае согласия выделяются следующие формулы:
    * Без проблем
    * Не вопрос
    * Почему бы и нет
    * Так и быть
    * Чёрт с тобой

### Задание 2

Изучите код для моделирования RSA. Можно консультироваться с тьюториалом, можно изучить промпт, где проиллюстрированы примеры, которые мы рассматривали на занятии.

In [1]:
import numpy as np
import pandas as pd

In [2]:
__author__ = 'Chris Potts'


class RSA:
    """Implementation of the core Rational Speech Acts model.

    Parameters
    ----------
    lexicon : `np.array` or `pd.DataFrame`
        Messages along the rows, states along the columns.
    prior : array-like
        Same length as the number of colums in `lexicon`.
    costs : array-like
        Same length as the number of rows in `lexicon`.
    alpha : float
        The temperature parameter. Default: 1.0
    """
    def __init__(self, lexicon, prior, costs, alpha=1.0):
        self.lexicon = lexicon
        self.prior = np.array(prior)
        self.costs = np.array(costs)
        self.alpha = alpha

    def literal_listener(self):
        """Literal listener predictions, which corresponds intuitively
        to truth conditions with priors.

        Returns
        -------
        np.array or pd.DataFrame, depending on `self.lexicon`.
        The rows correspond to messages, the columns to states.

        """
        return rownorm(self.lexicon * self.prior)

    def speaker(self):
        """Returns a matrix of pragmatic speaker predictions.

        Returns
        -------
        np.array or pd.DataFrame, depending on `self.lexicon`.
        The rows correspond to states, the columns to states.
        """
        lit = self.literal_listener().T
        utilities = self.alpha * (safelog(lit) + self.costs)
        return rownorm(np.exp(utilities))

    def listener(self):
        """Returns a matrix of pragmatic listener predictions.

        Returns
        -------
        np.array or pd.DataFrame, depending on `self.lexicon`.
        The rows correspond to messages, the columns to states.
        """
        spk = self.speaker().T
        return rownorm(spk * self.prior)


def rownorm(mat):
    """Row normalization of np.array or pd.DataFrame"""
    return (mat.T / mat.sum(axis=1)).T


def safelog(vals):
    """Silence distracting warnings about log(0)."""
    with np.errstate(divide='ignore'):
        return np.log(vals)

In [3]:
from IPython.display import display


def display_reference_game(mod):
    d = mod.lexicon.copy()
    d['costs'] = mod.costs
    d.loc['prior'] = list(mod.prior) + [""]
    d.loc['alpha'] = [mod.alpha] + [" "] * mod.lexicon.shape[1]
    display(d)

In [4]:
def make_lexicon(msgs, states, matrix):
    return pd.DataFrame(matrix, index=msgs, columns=states)

In [5]:
def display_all_messages(basic_mod):
    print("="*70 + "\nEven priors and all-0 message costs\n")

    display_reference_game(basic_mod)

    print("\nLiteral listener")
    display(basic_mod.literal_listener())

    print("\nPragmatic speaker")
    display(basic_mod.speaker())

    print("\nPragmatic listener")
    display(basic_mod.listener())

### Задание 3

1. Приведите конверсациональную импликатуру, которую можно вывести из таблицы прагматического слушающего

2. Как поменяется импликатура, если поменять исходные вероятности на P(r1) = 0.1, P(r2) = P(r3) = 0.45? Приведите соответствующую таблицу распределения вероятностей для прагматического слушающего и прокомментируйте её. При выполнении можно использовать код из задания 2, можно считать вручную. Не забудьте привести все релевантные расчеты.

In [6]:
lex = make_lexicon(['шляпа', 'очки', 'усы'], 
             ['r1', 'r2', 'r3'], 
             [
                [1.0, 1.0, 0.0],
                [0.0, 0.0, 1.0],
                [0.0, 1.0, 0.0]
        ])

basic_mod = RSA(lexicon=lex, prior=[1/3, 1/3, 1/3], costs=[0.0, 0.0, 0.0])
print(45*'-' + 'Прагматический говорящий' + 45*'-')
display(basic_mod.speaker())
print(45*'-' + 'Прагматический слушающий' + 45*'-')
display(basic_mod.listener())

---------------------------------------------Прагматический говорящий---------------------------------------------

       шляпа  очки       усы
r1  1.000000   0.0  0.000000
r2  0.333333   0.0  0.666667
r3  0.000000   1.0  0.000000

---------------------------------------------Прагматический слушающий---------------------------------------------

         r1    r2   r3
шляпа  0.75  0.25  0.0
очки   0.00  0.00  1.0
усы    0.00  1.00  0.0

В результате выделяется такая импликатура, говорящая о том, что усы оказываются более информативными для слушающего. Они информативны по той причине, что при высказывании "шляпа" выберется "r1" из-за того, что "усы" есть только у одного объекта и вероятность выбора "r1" больше, чем у остальных. Иными словами, если бы говорящему нужно было, чтобы слушающий выбрал объект с усами и шляпой, то он бы сказал именно "усы", а не "шляпа", потому что в ином случае выбрался бы объект с только шляпой. В случае выставленных вероятностей принцип кооперативности сохраняется.

In [7]:
basic_mod = RSA(lexicon=lex, prior=[0.1, 0.45, 0.45], costs=[0.0, 0.0, 0.0])
print(45*'-' + 'Прагматический говорящий' + 45*'-')
display(basic_mod.speaker())
print(45*'-' + 'Прагматический слушающий' + 45*'-')
display(basic_mod.listener())

---------------------------------------------Прагматический говорящий---------------------------------------------

    шляпа  очки   усы
r1   1.00   0.0  0.00
r2   0.45   0.0  0.55
r3   0.00   1.0  0.00

---------------------------------------------Прагматический слушающий---------------------------------------------

             r1        r2   r3
шляпа  0.330579  0.669421  0.0
очки   0.000000  0.000000  1.0
усы    0.000000  1.000000  0.0

В данном случае импликатура скорее всего не будет выделяться, потому что высказывание "усы" становится неинформативным. Неинформативность обуславливается тем, что при слове "шляпа" всегда будет выбираться "r2", потому что у него вероятность выше, чем у остальных. В результате будет нарушаться принцип кооперативности (прагматический говорящий при слове "шляпа" подразумевает "r1", а не "r2").

### Задание 4

1. Приведите свой пример референциальной игры с четырьмя объектами (состояниями, r1, r2, r3, r4) и четырьмя высказываниями (m1, m2, m3, m4), в которой при равных исходных вероятностях объектов, alpha = 1, цене всех высказываний равной 0 вычисляется одна или две скалярные импликатуры. Покажите, что импликатуры вычисляются (таблица для прагматического слушающего + комментарий, описывающий импликатуру).

2. Как меняются вероятности для прагматического слушающего с изменением параметра alpha (оптимальность, прагматичность, рациональность говорящего), параметра цены высказывания, с изменением исходных (априорных) вероятностей объектов? При каких значениях параметров импликатура (или импликатуры, если в Вашей игре их несколько) исчезает?

В качестве примера референциальной игры я решил взять картины с пейзажами русских художников.

Выбранные объекты:
1. Утро в сосновом лесу (Шишкин) (лес, животные)
2. Буря на море (Айвазовский) (вода)
3. Ранний снег (Волков) (вода, лес)
4. Дарьяльское ущелье (Куинджи) (вода, горы)

Высказывания:
1. Лес
2. Животные
3. Вода
4. Горы

In [8]:
msgs = ['лес', 'животные', 'горы', 'вода']
states = ['Утро в сосновом лесу', 'Буря на море', 'Ранний снег', 'Дарьяльское ущелье']
rs =  [
        [1.0, 0.0, 1.0, 0.0],
        [1.0, 0.0, 0.0, 0.0],
        [0.0, 0.0, 0.0, 1.0],
        [0.0, 1.0, 1.0, 1.0]]

lex = make_lexicon(msgs, states, rs)

In [9]:
priors = [0.25, 0.25, 0.25, 0.25]
costs = [0.0, 0.0, 0.0, 0.0]
alpha = 1.0

In [10]:
basic_mod = RSA(lexicon=lex, prior=priors, costs=costs, alpha=alpha)
display_all_messages(basic_mod)

======================================================================
Even priors and all-0 message costs

,Утро в сосновом лесу,Буря на море,Ранний снег,Дарьяльское ущелье,costs
лес,1.00,0,1,0,0
животные,1.00,0,0,0,0
горы,0.00,0,0,1,0
вода,0.00,1,1,1,0
prior,0.25,0.25,0.25,0.25,
alpha,1.00,,,,

Literal listener

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                        0.5      0.000000     0.500000            0.000000
животные                   1.0      0.000000     0.000000            0.000000
горы                       0.0      0.000000     0.000000            1.000000
вода                       0.0      0.333333     0.333333            0.333333

Pragmatic speaker

                           лес  животные  горы  вода
Утро в сосновом лесу  0.333333  0.666667  0.00  0.00
Буря на море          0.000000  0.000000  0.00  1.00
Ранний снег           0.600000  0.000000  0.00  0.40
Дарьяльское ущелье    0.000000  0.000000  0.75  0.25

Pragmatic listener

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.357143      0.000000     0.642857            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.606061     0.242424            0.151515

Выделяются две скалярные импликатуры, связанные с лесом и водой. При этом стоит сказать, что высказывание "вода", как и "лес", более информативно, чем "животные" и "горы". В случае животных и гор обекты выделяются однозначно, другие же высказывания показывают, что слушающий с определённой вероятностью выбрал ту или иную картину.

In [11]:
import numpy as np
from pprint import pprint

#### Параметр alpha
Рассмотрим ситуацию, когда увеличивается параметр alpha

In [12]:
results = []

for a in np.arange(0.1, 1.0, 0.25):
    inn = []
    for i in range(4):
        basic_mod = RSA(lexicon=lex, prior=priors, costs=costs, alpha=a)
        inn.append(list(basic_mod.listener().iloc[i]))
    results.append(inn)
    display(basic_mod.listener())
pprint([i[0][2] for i in results])
pprint([i[0][0] for i in results])

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.486172      0.000000     0.513828            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.509573     0.249622            0.240805

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.450889      0.000000     0.549111            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.534868     0.248490            0.216642

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.414918       0.00000     0.585082            0.000000
животные              1.000000       0.00000     0.000000            0.000000
горы                  0.000000       0.00000     0.000000            1.000000
вода                  0.000000       0.56167     0.246842            0.191488

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.378737      0.000000     0.621263            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.589334     0.244386            0.166281

[0.5138278660516409, 0.5491113475057187, 0.5850817616706617, 0.6212631368602379]
[0.4861721339483591,
 0.45088865249428134,
 0.4149182383293382,
 0.37873686313976196]

Можно увидеть, как при увеличении параметра alpha увеличиваются или уменьшаются вероятности. Причём стоит отметить, что если вероятность < 0.5, то значения будут уменьшаться, если же >= 0.5, то - увеличиваться.

#### Параметр изначальной вероятности

Далее рассмотрим изменение вероятностей с изменением начальной вероятности

In [13]:
results = []

for prior in np.arange(0.1, 1.0, 0.25):
    inn = []
    ps = [(1 - prior) / 3] * 3
    ps.insert(0, prior)
    basic_mod = RSA(lexicon=lex, prior=ps, costs=costs, alpha=alpha)
    for i in range(4):
        inn.append(list(basic_mod.listener().iloc[i]))
    results.append(inn)
    display(basic_mod.listener())
pprint([i[0][2] for i in results])
pprint([i[0][0] for i in results])

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.087838      0.000000     0.912162            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.641975     0.197531            0.160494

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.535853      0.000000     0.464147            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.582834     0.271457            0.145709

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.851577      0.000000     0.148423            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.527132     0.341085            0.131783

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.982993      0.000000     0.017007            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.474576     0.406780            0.118644

[0.9121621621621621,
 0.4641466094077699,
 0.1484230055658627,
 0.017006802721088468]
[0.08783783783783786, 0.53585339059223, 0.8515769944341373, 0.9829931972789115]

Здесь, как и в случае с параметром alpha, при увеличении изначальной вероятности увеличивается и итоговая вероятность высказывания и наоборот.

#### Параметр стоимости высказывания

Далее рассмотрим изменение вероятностей с изменением стоимости высказывания.

In [14]:
results = []
step = 3
for c in range(0, 10, step):
    inn = []
    c1 = c
    c2 = c1 - step if c1 - step > 0 else 0
    c3 = c2 - step if c2 - step > 0 else 0
    c4 = c3 - step if c3 - step > 0 else 0
    cs = [c1, c2, c3, c4]
    basic_mod = RSA(lexicon=lex, prior=priors, costs=cs, alpha=alpha)
    for i in range(4):
        inn.append(list(basic_mod.listener().iloc[i]))
    results.append(inn)
    display(basic_mod.listener())
pprint([i[0][2] for i in results])
pprint([i[0][0] for i in results])

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.357143      0.000000     0.642857            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.606061     0.242424            0.151515

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.484437      0.000000     0.515563            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.779955     0.025056            0.194989

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.476699      0.000000     0.523301            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.798946     0.001318            0.199736

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.476308      0.000000     0.523692            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.983858     0.000081            0.016061

[0.6428571428571429, 0.5155626010775172, 0.5233010646031773, 0.5236924153547389]
[0.3571428571428571,
 0.4844373989224829,
 0.47669893539682273,
 0.47630758464526113]

В данном случае при увеличении стоимостей увеличивается и вероятность, причём у всех высказываний (за исключением Дарьяльского ущелья, у него стоимость всегда была равна нулю). При этом стоит отметить, что наибольшие вероятности по мере увеличения стоимости повышают свои значения быстрее, чем остальные (например, Буря на море).

#### Исчезновение импликатур

С помощью проведённого ранее анализа можно попробовать сделать так, чтобы импликатуры исчезли. Для этого имеет смысл для импликатуры, связанной с высказыванием "лес", установить наибольшую вероятность и установить выскоую стоимость. Для импликатруы с "водой" тоже стоит выделить относительно большую вероятность и стоимость. Чтобы повысить вероятность ещё больше, стоит задать и значение alpha побольше. В результате получаются следующие вероятности.

In [15]:
priors = [0.005, 0.09, 0.95, 0.0095]
costs = [0.0, 0.0, 0.0, -10.0]
alpha = 7.0
basic_mod = RSA(lexicon=lex, prior=priors, costs=costs, alpha=alpha)
display_all_messages(basic_mod)

======================================================================
Even priors and all-0 message costs

,Утро в сосновом лесу,Буря на море,Ранний снег,Дарьяльское ущелье,costs
лес,1.000,0,1,0,0
животные,1.000,0,0,0,0
горы,0.000,0,0,1,0
вода,0.000,1,1,1,-10
prior,0.005,0.09,0.95,0.0095,
alpha,7.000,,,,

Literal listener

          Утро в сосновом лесу  Буря на море  Ранний снег  Дарьяльское ущелье
лес                   0.005236      0.000000     0.994764            0.000000
животные              1.000000      0.000000     0.000000            0.000000
горы                  0.000000      0.000000     0.000000            1.000000
вода                  0.000000      0.085755     0.905193            0.009052

Pragmatic speaker

                               лес  животные  горы          вода
Утро в сосновом лесу  1.078367e-16       1.0   0.0  0.000000e+00
Буря на море          0.000000e+00       0.0   0.0  1.000000e+00
Ранний снег           1.000000e+00       0.0   0.0  2.053680e-31
Дарьяльское ущелье    0.000000e+00       0.0   1.0  1.979586e-45

Pragmatic listener

          Утро в сосновом лесу  Буря на море   Ранний снег  Дарьяльское ущелье
лес               5.675614e-19           0.0  1.000000e+00        0.000000e+00
животные          1.000000e+00           0.0  0.000000e+00        0.000000e+00
горы              0.000000e+00           0.0  0.000000e+00        1.000000e+00
вода              0.000000e+00           1.0  2.167773e-30        2.089563e-46

Очень маленькими значениями вероятностей можно пренебречь и округлить до нуля. В итоге получается, что каждое каждое высказывание имеет вероятность равную единицы, а значит импликатура исчезает из-за отсутствия потенциала высказывания.